@charset "UTF-8";

html {
    font-size: 14px;
}

div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

ul, li {
    list-style: none;
}

/*对齐*/
.text-c {
    text-align: center;
}

.text-l {
    text-align: left;
}

.text-r {
    text-align: right;
}

/*浮动*/
.fll {
    float: left;
}

.flr {
    float: right;
}

.fcb {
    clear: both;
}

/*系统主容器宽高*/
.sys-container {
    width: 100%;
    min-width: 320px;
    max-width: 750px;
    margin: 0 auto;
    position: relative;
    left: 0;
    right: 0;
}

/*系统内部容器宽高*/
.container {
    width: 100%;
    min-height: 100%;
    height: auto;
    position: relative;
    margin: 0;
    padding: 0;
}

/*位置*/
.pb60 {
    padding-bottom: 60px;
}

/*响应式页面自适应*/
/*由于muse-ui不支持响应式，暂时不采用响应式布局*/
/*
@media screen and (max-width: 320px){  !*750基数x0.43 320倍数*!
    html{ font-size: 12px !important; }
}
@media screen and (min-width: 325px) and (max-width: 399px) {  !*750基数x0.48 360倍数*!
    html{ font-size: 14px !important; }
}
@media screen and (min-width: 400px) and (max-width: 499px){  !*750基数x0.574 430倍数*!
    html{ font-size: 16px !important; }
}
@media screen and (min-width: 500px) and (max-width: 768px){  !*750基数x1*!
    html{ font-size: 30px !important; }
}
@media screen and (min-width: 769px) and (max-width: 992px){  !*750基数x1.14 850倍数*!
    html{ font-size: 32px !important; }
}
@media screen and (min-width: 993px){  !*750基数x1.33 1000倍数*!
    html{ font-size: 37px !important; }
}
*/

